@font-face {
  font-family: 'ChauPhilomeneOne';
  src: url('ChauPhilomeneOne.ttf') format('truetype');
}

@font-face {
  font-family: 'AlibabaPuHuiT';
  src: url('AlibabaPuHuiT.ttf') format('truetype');
}

@font-face {
  font-family: 'CherryBomb';
  src: url('CherryBomb.ttf') format('truetype');
}

@font-face {
  font-family: 'Heyhoo';
  src: url('Heyhoo.ttf') format('truetype');
}
