//common
$background-color: #ffe7eb;
$base-color: #ff81a7;

//TopMenu
$top-menu-height: 80px;

// SoundsEditCard
$sounds-edit-card-1: #db1b5e;
$sounds-edit-card-2: #e0759b;
$sounds-edit-card-title: #ffffff;
$sounds-edit-card-subtitle: #ffffff;
$sounds-edit-card-content-1: #dd7398;
$sounds-edit-card-content-2: #f091b3;
$sounds-edit-card-close-button: #ffffff;
$sounds-edit-card-close-button-x: #eb99af;
$sounds-edit-card-close-button-border: #e34e7c;

// SpxEditor
$spx-editor-tab-font-uncheck: #a4a4a3;
$spx-editor-tab-font-check: #ff81a7;

//assetLibrary
$asset-library-card-title-1: #ff81a7;
$asset-library-card-title-input: #ff81a7;
$asset-library-card-title-2: #fbc6da;
$asset-library-card-class-button: #ff81a7;
$asset-library-card-class-button-focus: #f1518a;

//spriteList
$sprite-list-card-box-shadow: #ff81a7;
$sprite-list-card-close-button-border: #ff81a7;
$sprite-list-card-close-button: #ffffff;
$sprite-list-card-close-button-x: #eb99af;
