/*
 * @Author: Yao xinyue kother@qq.com
 * @Date: 2024-01-13 23:15:42
 * @LastEditors: Xu Ning
 * @LastEditTime: 2024-01-26 12:35:25
 * @FilePath: /builder/spx-gui/src/assets/theme.scss
 * @Description:
 */

//common
$button-color:#FF81A7FF;
$background-color:#FFE7EB;
$base-color:#FF81A7;

//TopMenu
$top-menu-height: 80px;

// SoundsEditCard
$sounds-edit-card-1: #db1b5e;
$sounds-edit-card-2: #e0759b;
$sounds-edit-card-title: #ffffff;
$sounds-edit-card-subtitle: #ffffff;
$sounds-edit-card-content-1: #dd7398;
$sounds-edit-card-content-2: #f091b3;
$sounds-edit-card-close-button: #ffffff;
$sounds-edit-card-close-button-x: #eb99af;
$sounds-edit-card-close-button-border: #e34e7c;

// SpxEditor
$spx-editor-tab-font-uncheck: #A4A4A3;
$spx-editor-tab-font-check: #FF81A7;

//assetLibrary
$asset-library-card-title-1: #FF81A7;
$asset-library-card-title-input: #FF81A7;
$asset-library-card-title-2: #FBC6DA;
$asset-library-card-class-button: #FF81A7;
$asset-library-card-class-button-focus: #F1518A;

//spriteList
$sprite-list-card-box-shadow: #FF81A7;
$sprite-list-card-close-button-border: #FF81A7;
$sprite-list-card-close-button: #ffffff;
$sprite-list-card-close-button-x: #eb99af;


