name: Build and Deploy

on:
  push:
    branches:
      - main
      - ci-cd

env:
  DOCKER_HUB_IMAGE: ${{ secrets.DOCKER_HUB_USERNAME }}/builder-spx-gui:latest

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'
          cache: 'npm'
          cache-dependency-path: spx-gui/package-lock.json

      - name: Install dependencies
        working-directory: spx-gui
        run: npm install

      - name: Build project
        working-directory: spx-gui
        run: npm run build

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push Docker image
        working-directory: spx-gui
        run: |
          docker build -t $DOCKER_HUB_IMAGE .
          docker push $DOCKER_HUB_IMAGE
