name: Publish Docker image
on:
  push:
  pull_request:
jobs:
  publish-docker-image:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Configure spx-gui to use co-located spx-backend
        run: echo "VITE_API_BASE_URL=/api" > ./spx-gui/.env.staging.local
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{github.token}}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          build-args: |
            NODE_ENV=staging
          provenance: false
          sbom: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: ${{ github.event_name == 'push' && github.ref_name == 'dev' }}
          tags: |
            ghcr.io/${{github.repository}}:dev
