name: Publish Docker image
on:
  push:
    branches:
      - trailhead_sharing
jobs:
  publish-docker-image:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v5
      - name: Configure spx-gui to use co-located spx-backend
        run: echo "VITE_API_BASE_URL=/api" > ./spx-gui/.env.staging.local
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{github.token}}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          build-args: |
            NODE_ENV=staging
          push: true
          tags: |
            ghcr.io/${{github.repository}}:trailhead_sharing
