name: Validate (lint, test & ...)

on:
  push:
  pull_request:

jobs:
  spx-gui-lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: spx-gui
    steps:
      - uses: actions/checkout@v6

      - name: Cache Node modules
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          path: spx-gui/node_modules
          key: ${{runner.os}}-${{runner.arch}}-${{env.cache-name}}-${{hashFiles('spx-gui/package-lock.json')}}
          restore-keys: |
            ${{runner.os}}-${{runner.arch}}-${{env.cache-name}}-

      - name: Enable Corepack
        run: corepack enable

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.11.1
          cache: npm
          cache-dependency-path: spx-gui/package-lock.json

      - name: Install Node modules
        run: npm ci --prefer-offline

      - name: Run Vue TSC
        run: npm run type-check

      - name: Run ESLint
        run: npm run lint

      - name: Run format check
        run: npm run format-check

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24.x
          cache: true
          cache-dependency-path: |
            tools/spxls/go.sum
            tools/ai/go.sum

      - name: Build WASM
        run: ./build-wasm.sh

      - name: Run Vitest
        run: npm run test

      - name: Build
        run: npm run build

  tools-ai-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: tools/ai
    steps:
      - uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24.x
          cache: true
          cache-dependency-path: tools/ai/go.sum

      - name: Run unit test cases
        run: go test -v -race ./...
