name: Validate (lint, test & ...)

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  spx-gui-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Enable Corepack
        run: corepack enable

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.11.1
          cache: npm
          cache-dependency-path: spx-gui/package-lock.json

      - name: Install modules
        working-directory: spx-gui
        run: npm install

      - name: Install spx
        working-directory: spx-gui
        run: ./install-spx.sh

      - name: Run Vue TSC
        working-directory: spx-gui
        run: npm run type-check

      - name: Run ESLint
        working-directory: spx-gui
        run: npm run lint

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.4

      - name: Build WASM
        working-directory: spx-gui
        run: ./build-wasm.sh

      - name: Run Vitest
        working-directory: spx-gui
        run: npm run test

      - name: Build
        working-directory: spx-gui
        run: npm run build

  spx-backend-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go & Go+
        uses: goplus/setup-goplus@v1
        with:
          go-version: 1.22.12
          gop-version: 1.3.6

      - name: Run unit test cases
        working-directory: spx-backend
        run: go test -v -race ./...
