@import './reset.css';
@import "./fonts/JebtBrainsMono/font-jetbrains-mono.css";

*,
::before,
::after {
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

@font-face {
  font-family: 'AlibabaHealthB';
  src: url('./fonts/AlibabaHealthFont2.0CN-85B.ttf') format('truetype');
}
