@import './reset.css';

*,
::before,
::after {
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

@font-face {
  font-family: 'AlibabaHealthB';
  src: url('./fonts/AlibabaHealthFont2.0CN-85B.ttf') format('truetype');
}

// Transition effect for slide-fade
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.2s;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-from {
  transform: translateY(10px);
}

.slide-fade-leave-to {
  transform: translateY(-10px);
}